# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr

# Misc
.DS_Store
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
